@import "tailwindcss";

:root {
  --main: #4E2FD2;
  --accent: #4E2FD2B2;
  --text: #0B0D10;
  --title-alt: #1F1F1F;
  --text-grey: #1F1F1FBF;
  --text-green: #0AA288;
  --text-blue: #0000EE;
  --text-red: #D8392B;
  --bg: #fff;
  --section-bg: #EDF4FF;
  --option-bg: #1DF0BB0A;
  --icon: #525963;
  --icon-bg: #F0F4F7;

  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
